recursive-include cs *.css
recursive-include cs *.eot
recursive-include cs *.html
recursive-include cs *.js
recursive-include cs *.pt
recursive-include cs *.svg
recursive-include cs *.ttf
recursive-include cs *.txt
recursive-include cs *.woff
recursive-include cs *.xml
recursive-include cs *.zcml
recursive-include docs *.GPL
recursive-include docs *.txt

